        body {
            height: 100vh;
        }
        header {
            position: relative;
            z-index: 10;
        }
        .logo {
            font-family: sans-serif;
            font-size: 23px;
            margin-left: 7px;
        }
        .header-btn:hover {
            background-color: #fff;
            color: #000;
        }
        /*hada dyal sign up*/
        .btn-2 {
            background-color: black;
            color: white;
            border: 2px solid black;
            padding: 10px 20px;
            font-size: 11px;
            font-weight: 900;
            text-transform: uppercase;
            border-radius: 50px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            position: absolute;
            right: 38px;
        }
        /*hada dyal log in*/
        .btn-3 {
            background-color: transparent;
            color: black;
            border: none;
            padding: 10px 20px;
            font-size: 12px;
            font-weight: 900;
            text-transform: uppercase;
            cursor: pointer;
            position: absolute;
            right: 135px;
            top: 2px;
        }
        /*hada dyal search*/
        .btn-4 {
            background-color: transparent;
            color: black;
            border: none;
            padding: 10px 20px;
            font-size: 12px;
            font-weight: 900;
            text-transform: uppercase;
            cursor: pointer;
            position: absolute;
            right: 200px;
            top: 2px;
        }
        /*hada dyal home*/
        .btn-5 {
            border-bottom: 2px solid black;
            border-top: none;
            border-left: none;
            border-right: none;
            background-color: transparent;
            color: black;
            padding: 10px 20px;
            font-size: 12px;
            padding-bottom: 10px;
            font-weight: 900;
            text-transform: uppercase;
            cursor: pointer;
            position: absolute;
            right: 280px;
            top: 2px;
        }
        /*hada bach sawebna dak shape*/
        .wavy-circle {
            position: absolute;
            /*hna ila bghito tbedlo size d shape*/
            --s: 900px;
            width: var(--s);
            aspect-ratio: 1;
            --g: /calc(var(--s)*0.303) calc(var(--s)*0.303) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
            mask: 
                calc(50% + var(--s)*0.311) calc(50% + var(--s)*0) var(--g),
                calc(50% + var(--s)*0.096) calc(50% + var(--s)*0.296) var(--g),
                calc(50% + var(--s)*-0.252) calc(50% + var(--s)*0.183) var(--g),
                calc(50% + var(--s)*-0.252) calc(50% + var(--s)*-0.183) var(--g),
                calc(50% + var(--s)*0.096) calc(50% + var(--s)*-0.296) var(--g),
                radial-gradient(calc(var(--s)*0.384),#000 99%,#0000 101%) subtract,
                calc(50% + var(--s)*0.399) calc(50% + var(--s)*0.29) var(--g),
                calc(50% + var(--s)*-0.153) calc(50% + var(--s)*0.47) var(--g),
                calc(50% + var(--s)*-0.494) calc(50% + var(--s)*0) var(--g),
                calc(50% + var(--s)*-0.153) calc(50% + var(--s)*-0.47) var(--g),
                calc(50% + var(--s)*0.399) calc(50% + var(--s)*-0.29) var(--g);
        }
        /*join us*/ 
        .join {
            content: attr(alt);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            position: relative;
            padding: 0 20px;
            font-size: 18px;
            text-transform: uppercase;
            border: 0;
            background-color: #D9D9D9;
            border-radius: 12px;
            overflow: hidden;
            transition: 31ms cubic-bezier(.5, .7, .4, 1);
            width: 300px;
        }
        .join {
            border: 2px solid#000;
            position: absolute;
            top: 380px;
            left: 730px;
        }
        .join:before {
            content: attr(alt);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            inset: 0;
            font-size: 15px;
            font-weight: bold;
            color: black;
            letter-spacing: 4px;
            opacity: 1;
        }
        .join:hover:before {
            transition: all .0s;
            transform: translateY(100%);
            opacity: 0;
            color: #E15331;
        }
        button i {
            color: black;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 4px;
            font-style: normal;
            transition: all 2s ease;
            transform: translateY(-20px);
            opacity: 0;
        }
        .join:hover i {
            transition: all .2s ease;
            transform: translateY(0px);
            opacity: 1;
        }
        .join:hover i:nth-child(1) {
            transition-delay: 0.045s;
        }
        .join:hover i:nth-child(2) {
            transition-delay: calc(0.045s * 3);
        }
        .join:hover i:nth-child(3) {
            transition-delay: calc(0.045s * 4);
        }
        button:hover i:nth-child(4) {
            transition-delay: calc(0.045s * 5);
        }
        .join:hover i:nth-child(6) {
            transition-delay: calc(0.045s * 6);
        }
        .join:hover i:nth-child(7) {
            transition-delay: calc(0.045s * 7);
        }
        .join:hover i:nth-child(8) {
            transition-delay: calc(0.045s * 8);
        }
        .join:hover i:nth-child(9) {
            transition-delay: calc(0.045s * 9);
        }
        .join:hover i:nth-child(10) {
            transition-delay: calc(0.045s * 10);
        }
        .join:hover i:nth-child(11) {
            transition-delay: calc(0.045s * 11);
        } 
        /*hada dyal chakl li kaybedel lon*/
        .wavy-circle-first {
            z-index: -10;
            background: #FF9FEE;
            top: -240px;
            left: -350px;
            animation: ChangeColor 14s infinite;
        }
        /*had jouj homa dyal dak lkhet li f lkhel dayer b shape li mlewnna*/
        .wavy-circle-second {
            z-index: -20;
            background: black;
            top: -220px;
            left: -340px;
            animation: rotate 14s infinite;
        }
        .wavy-circle-third {
            z-index: -20;
            background: white;
            top: -220px;
            left: -340px;
            animation: rotate 14s infinite;
        }
        @keyframes rotate {
            0% { transform: rotate(0deg); }
            14.28% { transform: rotate(51deg); }
            28.56% { transform: rotate(102deg); }
            42.84% { transform: rotate(153deg); }
            57.12% { transform: rotate(204deg); }
            71.40% { transform: rotate(255deg); }
            85.68% { transform: rotate(306deg); }
            100% { transform: rotate(360deg); }
        }
        @keyframes ChangeColor {
            0% { transform: rotate(0deg);
                background: #FF9FEE; }
            14.28% { background: #B3B0FF;
                transform: rotate(51deg); }
            28.56% { background: #FD0261;
                transform: rotate(102deg); }
            42.84% { background: #FF6F0F;
                transform: rotate(153deg); }
            57.12% { background: #A4A1AA;
                transform: rotate(204deg); }
            71.40% { background: #524F56;
                transform: rotate(255deg); }
            85.68% { background: #252275;
                transform: rotate(306deg); }
            100% { transform: rotate(360deg);
                background: #FF9FEE; }
        }
        .main-content {
            position: relative;
            width: 100%;
            height: 100vh;
        }
        .welcome-text {
            font-size: 33px;
            font-family: sans-serif;
            margin-left: 740px;
            margin-top: 160px;
            position: absolute;
            top: -80px;
            left: -20px;
        }
        .Miso1 {
            font-size: 3rem;
            font-family: sans-serif;
            position: absolute;
            top: 70px;
            left: 900px;
            opacity: 100%;
            animation: MisoColor 14s infinite;
        }
        .Miso2 {
            font-size: 3rem;
            font-family: sans-serif;
            position: absolute;
            top: 120px;
            left: 900px;
            opacity: 75%;
            animation: MisoColor 14s infinite;
        }
        .Miso3 {
            font-size: 3rem;
            font-family: sans-serif;
            position: absolute;
            top: 170px;
            left: 900px;
            opacity: 50%;
            animation: MisoColor 14s infinite;
        }
        @keyframes MisoColor {
            0% {color: #FF9FEE; }
            14.28% {color: #B3B0FF;}
            28.56% {color: #FD0261;}
            42.84% {color: #FF6F0F;}
            57.12% {color: #A4A1AA;}
            71.40% {color: #524F56;}
            85.68% {color: #252275;}
            100% {color: #FF9FEE;}
        }
        .card-container {
            position: absolute;
            top: 620px;
            left: 40px;
            display: flex;
            gap: 20px;
            justify-content: center;
            padding: 20px;
            font-family: sans-serif;
            font-size: 20px;
        }
        .card1 {
            width: 320px;
            height: 350px;
            padding: 20px;
            color: rgb(0, 0, 0);
            background: linear-gradient(#D9D9D9, #ffffff) padding-box,
                linear-gradient(145deg, transparent 35%,#FF9FEE, #B3B0FF) border-box;
            border: 2px solid transparent;
            border-radius: 8px;
        }
        .card2 {
            width: 320px;
            height: 350px;
            padding: 20px;
            color: rgb(0, 0, 0);
            background: linear-gradient(#D9D9D9, #ffffff) padding-box,
                linear-gradient(145deg, transparent 35%,#FD0261, #FF6F0F) border-box;
            border: 2px solid transparent;
            border-radius: 8px;
        }
        .card3 {
            width: 320px;
            height: 350px;
            padding: 20px;
            color: rgb(0, 0, 0);
            background: linear-gradient(#D9D9D9, #ffffff) padding-box,
                linear-gradient(145deg, transparent 35%,#252275, #FF9FEE) border-box;
            border: 2px solid transparent;
            border-radius: 8px;
        }
        .footer {
            position: absolute;
            top: 1100px;
            width: 1213px;
            height: 100px;
            background-color: #f8f8f8;
            text-align: center;
            padding: 20px;
            font-family: 'Arial', sans-serif;
            color: #555;
            font-size: 15px;
            border-top: 1px solid #eee;
            margin-top: 40px;
        }
        /*second shape*/
        .wavy-circle-first2 {
            opacity: 40%;
            z-index: -10;
            background: #FF9FEE;
            top: 200px;
            left: 950px;
            animation: ChangeColor 14s infinite;
        }
        .wavy-circle2 {
            position: absolute;
            /*hna ila bghito tbedlo size d shape*/
            --s: 450px;
            width: var(--s);
            aspect-ratio: 1;
            --g: /calc(var(--s)*0.303) calc(var(--s)*0.303) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
            mask: 
                calc(50% + var(--s)*0.311) calc(50% + var(--s)*0) var(--g),
                calc(50% + var(--s)*0.096) calc(50% + var(--s)*0.296) var(--g),
                calc(50% + var(--s)*-0.252) calc(50% + var(--s)*0.183) var(--g),
                calc(50% + var(--s)*-0.252) calc(50% + var(--s)*-0.183) var(--g),
                calc(50% + var(--s)*0.096) calc(50% + var(--s)*-0.296) var(--g),
                radial-gradient(calc(var(--s)*0.384),#000 99%,#0000 101%) subtract,
                calc(50% + var(--s)*0.399) calc(50% + var(--s)*0.29) var(--g),
                calc(50% + var(--s)*-0.153) calc(50% + var(--s)*0.47) var(--g),
                calc(50% + var(--s)*-0.494) calc(50% + var(--s)*0) var(--g),
                calc(50% + var(--s)*-0.153) calc(50% + var(--s)*-0.47) var(--g),
                calc(50% + var(--s)*0.399) calc(50% + var(--s)*-0.29) var(--g);
        }